#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  position: relative;
}

.header-container {
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50rem;
  justify-content: space-between;
  padding: 10rem 10rem 100rem 10rem;
}

.game-name{
  font-weight: 700;
  font-size: 48rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(209, 212, 8);
}

.game-instruction{
  color:#e27d35;
  font-style: italic;
}

.score-board {
  text-align: end;
  width: 200px;
  /* position: relative; */
  /* left: calc(100% - 200px); */
  /* top: 0; */
  /* padding: 10px; */
  /* margin-bottom: 100px; */
  /* color: aliceblue; */
}

.current-score {
  margin-bottom: 10rem;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card-container {
  padding: 10rem;
  padding-bottom: 30rem;
  border-radius: 10rem;
  width: min-content;
  cursor: pointer;
  background-color: #78716c;
}

.card-container:active {
  background-color: rgb(95, 131, 185);
}

.card-image {
  width: 200px;
}

.card-title {
  color: aliceblue;
  text-wrap: wrap;
}
